{% extends 'KPSApp/base.html' %}
{% block title_block %}За инструмента{% endblock %}
{% block container_block %}
    <h1>За инструмента:</h1>
    <hr/>
    <p>Създадох този инструмент, тъй като ми омръзна да се взирам в скицата по няколко минути, за да мога да открия дадена стая.</p>
    <p>Защо да се блъскам, като може компютърът да го направи вместо мен?</p>
    <p>Инструментът позволява да въведете една или няколко стаи и той мигновенно ще Ви покаже къде се намират. Просто нали? :)</p>
{% endblock %}