{% extends 'KPSApp/base.html' %}
{% load lookup %}
{% block title_block %}Проверка на стаи{% endblock %}
{% block container_block %}
    <h1>Проверка на стаи:</h1>
    <hr/>
    {% if error %}
        {{ error }}
    {% endif %}

    <form action="{% url 'KPS-check' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Намери стаите!" />
    </form>
    <hr>
    {% for room in rooms_order %}
        <div class="{% cycle 'odd' 'even' %}"><strong>Стая {{ room }}:</strong> {{ rooms|lookup:room }}</div>
    {% endfor %}
{% endblock %}